@charset "utf-8";

/************************************************

					setting

*************************************************/
* {
	outline: 0;
	box-sizing: border-box;
}
html,body {
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	font-weight: 400;
	font-family: 'NanumSquare', 'NanumGothic', sans-serif;
	letter-spacing: 0px;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
input[type="submit"],input[type="button"],input[type="text"],input[type="password"],textarea {
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	-ms-appearance: none !important;
	appearance: none !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
	border-radius: 0;
	border: none;
}
input[type="submit"],input[type="checkbox"],input[type="radio"],input[type="button"],button,select,label {
	cursor: pointer;
}
select {
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	-ms-appearance: none !important;
	appearance: none !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
	border-radius: 0;
	background: #ffffff url('../img/down_arrow.png') no-repeat 95% center;
}
select::-ms-expand {
	display: none;
}
input::-webkit-input-placeholder {
	color: #9f9f9f;
}
input::-moz-placeholder {
	color: #9f9f9f;
}
input::-ms-input-placeholder {
	color: #9f9f9f;
}
textarea::-webkit-input-placeholder {
	color: #9f9f9f !important;
}
textarea::-moz-placeholder {
	color: #9f9f9f !important;
}
textarea::-ms-input-placeholder {
	color: #9f9f9f !important;
}
img {
	vertical-align: middle;
}
p,span,th,td {
    word-break: keep-all;
}
header,nav,section,article,footer {
    display: block;
}
#wrap {
	width: 100%;
	height: 100%;
	position: relative;
	clear: both;
}
.not_view {
	width: 0;
	height: 0;
	position: absolute;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
}
.center_ct {
	width: 94%;
	max-width: 2000px;
	margin: 0 auto;
}
.center_ct2 {
	width: 90%;
	max-width: 1500px;
	margin: 0 auto;
}
.center_ct3 {
    width: 100%;
	max-width: 2000px;
	margin: 0 auto;
}
.cf:after {
	content: '';
	clear: both;
	display: block;
}
.fk_header {
	height: 145px;
}
.br_view {
    display: none;
}
.br_none {
    display: block;
}

@media screen and (max-width: 1800px) {
}

@media screen and (max-width: 1600px) {
    .fk_header {
        height: 135px;
    }
}

@media screen and (max-width: 1400px) {
    .br_none {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .fk_header {
        height: 115px;
    }
}

@media screen and (max-width: 1080px) {
}

@media screen and (max-width: 900px) {
    .fk_header {
        height: 95px;
    }
    .br_none {
        display: block;
    }
}

@media screen and (max-width: 700px) {
}

@media screen and (max-width: 550px) {
    html,body {
        min-width: 320px;
    }
    .fk_header {
        height: 75px;
    }
    .br_none {
        display: none;
    }
}

/************************************************

					header

*************************************************/
header.header {
	width: 100%;
	height: 145px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
    background-color: #ffffff;
    border-bottom: 3px solid #e25e73;
    font-size: 16px;
    line-height: 16px;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
	transition: all 0.5s;
}
header.main_change {
    background-color: transparent;
    border-bottom: 3px solid transparent;
}
header.header .center_ct {
	position: relative;
    height: 100%;
}
header.header .header_left {
    width: 20%;
    height: 100%;
	position: absolute;
	top: 0;
	left: 0;
    text-align: left;
}
header.header .header_left a {
    width: 100%;
    height: 100%;
    display: block;
    line-height: 145px;
}
header.header .header_left a img {
    width: 100%;
    height: auto;
    max-width: 287px;
}
header.header .header_right {
    width: 20%;
    height: 100%;
	position: absolute;
	top: 0;
	right: 0;
    text-align: right;
    line-height: 145px;
    -webkit-transform: skew(-0.05deg);
	-moz-transform: skew(-0.05deg);
	-ms-transform: skew(-0.05deg);
	transform: skew(-0.05deg);
}
header.header .header_right a {
    font-size: 1em;
    color: #363636;
    padding: 0 18px;
    border-left: 1px solid #363636;
}
header.main_change .header_right a {
    color: #ffffff;
    border-left: 1px solid #ffffff;
}
header.header .header_right a:first-child {
    border-left: none;
}
header.header .header_right .mb_btn {
    display: inline-block;
	padding-left: 18px;
    vertical-align: middle;
    cursor: pointer;
}
header.header .header_right .mb_btn .line {
	width: 27px;
	height: 3px;
	background-color: #363636;
}
header.main_change .header_right .mb_btn .line {
    background-color: #ffffff;
}
header.header .header_right .mb_btn .line2 {
	margin: 6px 0;
}

@media screen and (max-width: 1800px) {
    header.header {
        font-size: 14px;
        line-height: 14px;
    }
}

@media screen and (max-width: 1600px) {
    header.header {
        height: 135px;
    }
    header.header .header_left a {
        line-height: 135px;
    }
    header.header .header_right {
        line-height: 135px;
    }
}

@media screen and (max-width: 1200px) {
    header.header {
        height: 115px;
        font-size: 13px;
        line-height: 13px;
    }
    header.header .header_left a {
        line-height: 115px;
    }
    header.header .header_right {
        line-height: 115px;
    }
    header.header .header_right a {
        padding: 0 14px;
    }
    header.header .header_right .mb_btn {
        padding-left: 14px;
    }
}

@media screen and (max-width: 1080px) {
    header.header .header_right a {
        padding: 0 10px;
    }
    header.header .header_right .mb_btn {
        padding-left: 8px;
    }
}

@media screen and (max-width: 900px) {
	header.header {
		display: none;
	}
}

/************************************************

					nav

*************************************************/
nav.nav {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    line-height: 145px;
}
nav.nav .top_menu>li {
    width: 20%;
	height: 100%;
	float: left;
	font-size: 1.125em;
	color: #363636;
    text-align: center;
	cursor: pointer;
    -webkit-transform: skew(-0.05deg);
	-moz-transform: skew(-0.05deg);
	-ms-transform: skew(-0.05deg);
	transform: skew(-0.05deg);
}
header.main_change nav.nav .top_menu>li {
    color: #ffffff;
}

@media screen and (max-width: 1600px) {
    nav.nav {
        line-height: 135px;
    }
}

@media screen and (max-width: 1200px) {
    nav.nav {
        line-height: 115px;
    }
}

/************************************************

					aside

*************************************************/
aside.aside {
    width: 100%;
	height: 270px;
	position: fixed;
	top: 145px;
	left: 0;
	background-color: #ffffff;
    border-bottom: 3px solid #e25e73;
    display: none;
}
header.main_change aside.aside {
    background-color: #363636;
    /*border-bottom: 3px solid transparent;*/
}
aside.aside .center_ct {
    position: relative;
    height: 100%;
}
aside.aside .top_menu_left {
    width: 20%;
    height: 100%;
	position: absolute;
	top: 0;
	left: 0;
    text-align: left;
    line-height: 270px;
}
aside.aside .top_menu_left img {
    width: 100%;
    height: auto;
    max-width: 305px;
}
aside.aside .top_menu_item {
    width: 60%;
    height: auto;
    margin: 0 auto;
    padding: 58px 0 0 4.5%;
}
aside.aside .top_menu_item4 {
    padding: 32px 0 0 4.5%;
}
aside.aside .top_menu_item .top_sub_menu {
    width: 30%;
	float: left;
}
aside.aside .top_menu_item4 .top_sub_menu {
    width: 25%;
}
aside.aside .top_menu_item .top_sub_menu>li {
    font-size: 1em;
    line-height: 2.25em;
    -webkit-transform: skew(-0.05deg);
	-moz-transform: skew(-0.05deg);
	-ms-transform: skew(-0.05deg);
	transform: skew(-0.05deg);
}
aside.aside .top_menu_item .top_sub_menu>li:before {
    content: '';
    width: 6px;
    height: 6px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 14px;
    background-color: #e25e73;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
header.main_change aside.aside .top_menu_item .top_sub_menu>li:before {
    background-color: #ffffff;
}
aside.aside .top_menu_item .top_sub_menu>li.top_sub_menu_tit {
    font-size: 1.125em;
    color: #2c2b2b;
}
header.main_change aside.aside .top_menu_item .top_sub_menu>li.top_sub_menu_tit {
    color: #ffffff;
}
aside.aside .top_menu_item .top_sub_menu>li.top_sub_menu_tit:before {
    content: '';
    width: 0;
    height: 0;
    display: none;
}
aside.aside .top_menu_item .top_sub_menu>li a {
    color: #7b7b7b;
}
header.main_change aside.aside .top_menu_item .top_sub_menu>li a {
    color: #ffffff;
}
aside.aside .top_menu_item .top_sub_menu>li a:hover {
    color: #1c1c1c;
}
header.main_change aside.aside .top_menu_item .top_sub_menu>li a:hover {
    color: #ffffff;
}
aside.aside .top_menu_right {
    width: 20%;
    height: 100%;
	position: absolute;
	top: 0;
	right: 0;
    text-align: right;
    line-height: 270px;
}
aside.aside .top_menu_right img {
    width: 50%;
    height: auto;
    max-width: 168px;
    padding-left: 4px;
    margin-left: -4px;
}
aside.aside .top_menu_right img:first-child {
    padding-left: 0;
    padding-right: 4px;
}

@media screen and (max-width: 1800px) {
    aside.aside {
        height: 250px;
    }
    aside.aside .top_menu_left {
        line-height: 250px;
    }
    aside.aside .top_menu_right {
        line-height: 250px;
    }
}

@media screen and (max-width: 1600px) {
    aside.aside {
        top: 135px;
    }
}

@media screen and (max-width: 1400px) {
    aside.aside {
        height: 240px;
    }
    aside.aside .top_menu_left {
        width: 15%;
        line-height: 240px;
    }
    aside.aside .top_menu_item {
        width: 70%;
        padding: 48px 0 0 8.5%;
    }
    aside.aside .top_menu_item4 {
        padding: 22px 0 0 8.5%;
    }
    aside.aside .top_menu_right {
        width: 15%;
        line-height: 240px;
    }
}

@media screen and (max-width: 1200px) {
    aside.aside {
        height: 220px;
        top: 115px;
    }
    aside.aside .top_menu_left {
        line-height: 220px;
    }
    aside.aside .top_menu_right {
        line-height: 220px;
    }
}

/************************************************

					mobile

*************************************************/
.mb_area {
	width: 100%;
	height: 95px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: #ffffff;
    border-bottom: 3px solid #e25e73;
    font-size: 13px;
    line-height: 13px;
	display: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
	transition: all 0.5s;
}
.mb_area.main_change {
    background-color: transparent;
    border-bottom: 3px solid transparent;
}
.mb_area .mb_btn {
	position: absolute;
	top: 35px;
	right: 30px;
	z-index: 9999;
	cursor: pointer;
}
.mb_area .mb_btn .line {
	width: 27px;
	height: 3px;
	background-color: #363636;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
	transition: all 0.5s;
}
.mb_area.main_change .mb_btn .line {
    background-color: #ffffff;
}
.mb_area .mb_btn .line2 {
	margin: 6px 0;
}
.mb_area .line11 {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	transform-origin: left top;
}
.mb_area .line22 {
	opacity: 0;
}
.mb_area .line33 {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform-origin: left bottom;
}
.mb_area .header_center {
    width: 100%;
    height: 100%;
    text-align: center;
}
.mb_area .header_center a {
	width: auto;
	height: 100%;
	display: inline-block;
    line-height: 55px;
    padding: 20px 0;
}
.mb_area .header_center a img {
    width: auto;
    height: 100%;
    max-height: 63px;
}
.mb_area .mb_menu {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	z-index: -1;
    background-color: #000000;
    opacity: 0.8;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
	display: none;
}
.mb_area .mb_box {
	width: 300px;
	height: 100%;
	position: fixed;
	top: 0;
	right: -300px;
	z-index: 999;
	background: #ffffff url('../img/sitemap_bg.png') no-repeat center;
    background-size: cover;
	box-sizing: border-box;
	overflow-y: scroll;
	-ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
	transition: 0.5s;
}
.mb_area .mb_box::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}
.mb_area .mb_box .header_menu_area {
    width: 100%;
    height: 95px;
    background-color: #e25e73;
    border-bottom: 3px solid #e25e73;
}
.mb_area .mb_box .header_menu_area .header_menu {
    width: 220px;
    height: auto;
    padding: 9px 0;
}
.mb_area .mb_box .header_menu_area .header_menu>li {
	width: 46%;
	float: left;
	border: 3px solid #ffffff;
    margin: 5px 0 5px 4%;
    text-align: center;
    -webkit-transform: skew(-0.05deg);
	-moz-transform: skew(-0.05deg);
	-ms-transform: skew(-0.05deg);
	transform: skew(-0.05deg);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
}
.mb_area .mb_box .header_menu_area .header_menu>li a {
	font-size: 1em;
	color: #ffffff;
    line-height: 1.7em;
}
.mb_area .mb_box .nav_menu>li {
	padding: 5px 10px;
	border-bottom: 10px solid #e25e73;
	line-height: 2.25em;
	cursor: pointer;
    -webkit-transform: skew(-0.05deg);
	-moz-transform: skew(-0.05deg);
	-ms-transform: skew(-0.05deg);
	transform: skew(-0.05deg);
}
.mb_area .mb_box .nav_menu>li .rotate {
    background: url('../img/up_arrow.png') no-repeat right center !important;
}
.mb_area .mb_box .nav_menu>li .nav_menu_tit {
    width: 100%;
    height: auto;
    font-size: 1.125em;
    color: #363636;
    line-height: 2.5em;
    background: url('../img/down_arrow.png') no-repeat right center;
}
.mb_area .mb_box .nav_menu>li .nav_menu_tit img {
    width: 30px;
    height: 27px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.mb_area .mb_box .nav_menu>li .nav_menu_tit p {
    display: inline-block;
}
.mb_area .mb_box .nav_menu>li>.nav_sub_menu {
    padding-left: 40px;
    display: none;
}
.mb_area .mb_box .nav_menu>li>.nav_sub_menu>li a {
    font-size: 1em;
    color: #7b7b7b;
}
.mb_area .mb_box .nav_menu>li>.nav_sub_menu>li a:hover {
    color: #1c1c1c;
}
.mb_area .mb_box .nav_menu>li>.nav_sub_menu>li>.nav_menu_tit {
    color: #2c2b2b;
}
.mb_area .mb_box .nav_menu>li>.nav_sub_menu>li>.nav_sub_menu {
    padding-left: 20px;
    display: none;
}

@media screen and (max-width: 900px) {
	.mb_area {
		display: block;
	}
}

@media screen and (max-width: 550px) {
    .mb_area {
        height: 75px;
        min-width: 320px;
    }
    .mb_area .mb_btn {
        top: 25px;
        right: 20px;
    }
    .mb_area .header_center a {
        line-height: 45px;
        padding: 15px 0;
    }
    .mb_area .mb_box .header_menu_area {
        height: 75px;
    }
    .mb_area .mb_box .header_menu_area .header_menu {
        padding: 3px 0;
    }
    .mb_area .mb_box .header_menu_area .header_menu>li {
        margin: 3px 0 3px 4%;
    }
}

/************************************************

					footer

*************************************************/
footer.footer {
    font-size: 16px;
    line-height: 16px;
}
footer.footer .center_ct {
    position: relative;
    height: 100%;
}
footer.footer .footer_icon {
	width: 100%;
    height: 103px;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    padding: 33px 0;
}
footer.footer .footer_icon .footer_icon_left {
    float: left;
    -webkit-transform: skew(-0.05deg);
	-moz-transform: skew(-0.05deg);
	-ms-transform: skew(-0.05deg);
	transform: skew(-0.05deg);
}
footer.footer .footer_icon .footer_icon_left .footer_icon_left_area {
    display: inline-block;
    margin-right: 101px;
}
footer.footer .footer_icon .footer_icon_left .footer_icon_left_area img {
    margin-right: 9px;
}
footer.footer .footer_icon .footer_icon_left .footer_icon_left_area span {
    font-size: 1.125em;
}
footer.footer .footer_icon .footer_icon_left .footer_icon_left_area .footer_icon_left_tit {
    color: #262626;
}
footer.footer .footer_icon .footer_icon_left .footer_icon_left_area .footer_icon_left_cont {
    color: #4a4a4a;
}
footer.footer .footer_icon .footer_icon_right {
    float: right;
}
footer.footer .footer_icon .footer_icon_right .sns_icon>li {
    float: left;
    margin-left: 16px;
}
footer.footer .footer_icon .footer_icon_right .sns_icon>li:first-child {
    margin-left: 0;
}
footer.footer .footer_logo {
    width: 100%;
    height: 303px;
    background-color: #7d7d7d;
    padding-top: 18px;
}
footer.footer .footer_logo .footer_logo_top {
    width: 100%;
    height: 128px;
}
footer.footer .footer_logo .footer_logo_top .footer_logo_top_img {
    width: auto;
    height: 90%;
    float: left;
    line-height: 128px;
}
footer.footer .footer_logo .footer_logo_top .footer_logo_top_img img {
    width: auto;
    height: 100%;
    max-height: 80px;
}
footer.footer .footer_logo .footer_logo_top select {
    width: 212px;
	height: 37px;
    float: right;
	padding: 0 16px;
	border: 1px solid #a3a3a3;
	background: url('../img/footer_arrow.png') no-repeat 95% center;
    font-size: 1.125em;
    color: #ffffff;
    line-height: 37px;
    -webkit-transform: skew(-0.05deg);
	-moz-transform: skew(-0.05deg);
	-ms-transform: skew(-0.05deg);
	transform: skew(-0.05deg);
}
footer.footer .footer_logo .footer_logo_middle {
    margin-bottom: 31px;
}
footer.footer .footer_logo .footer_logo_middle>li {
    float: left;
    border-left: 1px solid #ffffff;
    padding: 0 16px;
    -webkit-transform: skew(-0.05deg);
	-moz-transform: skew(-0.05deg);
	-ms-transform: skew(-0.05deg);
	transform: skew(-0.05deg);
}
footer.footer .footer_logo .footer_logo_middle>li:first-child {
    border-left: none;
    padding-left: 0;
}
footer.footer .footer_logo .footer_logo_middle>li a {
    font-size: 1em;
    color: #ffffff;
    line-height: 1em;
}
footer.footer .footer_logo .footer_logo_bottom {
    -webkit-transform: skew(-0.05deg);
	-moz-transform: skew(-0.05deg);
	-ms-transform: skew(-0.05deg);
	transform: skew(-0.05deg);
}
footer.footer .footer_logo .footer_logo_bottom span {
    font-size: 0.875em;
    color: #ffffff;
    line-height: 1.8em;
    padding-right: 13px;
}

@media screen and (max-width: 1800px) {
    footer.footer {
        font-size: 14px;
        line-height: 14px;
    }
    footer.footer .footer_icon {
        padding: 34px 0;
    }
    footer.footer .footer_icon .footer_icon_left .footer_icon_left_area {
        margin-right: 81px;
    }
    footer.footer .footer_icon .footer_icon_left .footer_icon_left_area img {
        width: 35px;
        height: auto;
        margin-right: 7px;
    }
    footer.footer .footer_icon .footer_icon_right .sns_icon>li {
        margin-left: 14px;
    }
    footer.footer .footer_icon .footer_icon_right .sns_icon>li img {
        width: 30px;
        height: auto;
    }
}

@media screen and (max-width: 1600px) {
    footer.footer .footer_icon {
        padding: 13px 0;
    }
    footer.footer .footer_icon .footer_icon_left .footer_icon_left_area {
        display: block;
        margin-right: 0;
        margin-bottom: 7px;
    }
    footer.footer .footer_icon .footer_icon_right {
        padding: 22px 0;
    }
}

@media screen and (max-width: 1200px) {
    footer.footer {
        font-size: 13px;
        line-height: 13px;
    }
    footer.footer .footer_icon {
        padding: 16px 0;
    }
    footer.footer .footer_icon .footer_icon_left .footer_icon_left_area {
        margin-bottom: 5px;
    }
    footer.footer .footer_icon .footer_icon_left .footer_icon_left_area img {
        width: 33px;
        margin-right: 5px;
    }
    footer.footer .footer_icon .footer_icon_right {
        padding: 20px 0;
    }
    footer.footer .footer_icon .footer_icon_right .sns_icon>li {
        margin-left: 12px;
    }
    footer.footer .footer_icon .footer_icon_right .sns_icon>li img {
        width: 28px;
    }
}

@media screen and (max-width: 900px) {
    footer.footer {
        font-size: 12px;
        line-height: 12px;
    }
    footer.footer .center_ct {
        text-align: center;
    }
    footer.footer .footer_icon {
        height: 129px;
        padding: 13px 0;
    }
    footer.footer .footer_icon .footer_icon_left {
        float: none;
        margin-bottom: 10px;
    }
    footer.footer .footer_icon .footer_icon_left .footer_icon_left_area img {
        width: 31px;
    }
    footer.footer .footer_icon .footer_icon_right {
        float: none;
        display: inline-block;
        padding: 0;
    }
    footer.footer .footer_icon .footer_icon_right .sns_icon>li {
        margin-left: 10px;
    }
    footer.footer .footer_icon .footer_icon_right .sns_icon>li img {
        width: 26px;
    }
    footer.footer .footer_logo .footer_logo_top {
        width: 100%;
        height: auto;
        margin-bottom: 31px;
    }
    footer.footer .footer_logo .footer_logo_top .footer_logo_top_img {
        width: 100%;
        height: auto;
        float: none;
        line-height: 0;
        text-align: center;
        margin-bottom: 9px;
    }
    footer.footer .footer_logo .footer_logo_top .footer_logo_top_img img {
        width: 100%;
        height: auto;
        max-height: auto;
        max-width: 329px;
    }
    footer.footer .footer_logo .footer_logo_top select {
        width: 192px;
        height: 32px;
        float: none;
        line-height: 32px;
    }
    footer.footer .footer_logo .footer_logo_middle {
        text-align: center;
        display: inline-block;
    }
}

@media screen and (max-width: 700px) {
    footer.footer .footer_logo .footer_logo_middle>li {
        padding: 0 14px;
    }
}

@media screen and (max-width: 550px) {
    footer.footer {
        font-size: 11px;
        line-height: 11px;
    }
    footer.footer .footer_icon {
        height: 143px;
        padding: 11px 0;
    }
    footer.footer .footer_icon .footer_icon_left .footer_icon_left_area img {
        width: 29px;
    }
    footer.footer .footer_icon .footer_icon_right .sns_icon>li img {
        width: 24px;
    }
    footer.footer .footer_logo {
        height: 334px;
    }
    footer.footer .footer_logo .footer_logo_top {
        margin-bottom: 26px;
    }
    footer.footer .footer_logo .footer_logo_middle {
        margin-bottom: 26px;
    }
    footer.footer .footer_logo .footer_logo_middle>li {
        margin-bottom: 5px;
    }
    footer.footer .footer_logo .footer_logo_middle>li:first-child + li + li {
        padding-right: 0;
    }
    footer.footer .footer_logo .footer_logo_middle>li:first-child + li + li + li {
        clear: both;
        border-left: none;
        padding-left: 35px;
    }
    footer.footer .br_view {
        display: block;
    }
}

